<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365770151063-164isialvmervh883qadvim829k40sch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365770151063-164isialvmervh883qadvim829k40sch</string>
	<key>API_KEY</key>
	<string>AIzaSyAOMscAgSHLMDHiENspjWmQQpvsrBgjMbs</string>
	<key>GCM_SENDER_ID</key>
	<string>365770151063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Nana-Bonsu.VendorHub</string>
	<key>PROJECT_ID</key>
	<string>vendorhub-8aacb</string>
	<key>STORAGE_BUCKET</key>
	<string>vendorhub-8aacb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:365770151063:ios:cb9002ca319f76148885d2</string>
	<key>DATABASE_URL</key>
	<string>https://vendorhub-8aacb-default-rtdb.firebaseio.com</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Please allow access to upload photos</string>
</dict>
</plist>
